{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.altitude.label }}<br>
            {{ form.altitude(size=32) }}<br>
            {% for error in form.altitude.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.longitude.label }}<br>
            {{ form.longitude(size=32) }}<br>
            {% for error in form.longitude.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.latitude.label }}<br>
            {{ form.latitude(size=32) }}<br>
            {% for error in form.latitude.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.airspeed.label }}<br>
            {{ form.airspeed(size=32) }}<br>
            {% for error in form.airspeed.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
